<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866138656068-gokusk4b8379e3m4j7v61pfmocpk4ajv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866138656068-gokusk4b8379e3m4j7v61pfmocpk4ajv</string>
	<key>API_KEY</key>
	<string>AIzaSyCjGLG9kuRMwze6m3tmcivjWkOjZsxzmfs</string>
	<key>GCM_SENDER_ID</key>
	<string>866138656068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-41439</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-41439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866138656068:ios:441cc66c3f9393842d1b11</string>
</dict>
</plist>